@import './../../node_modules/tailwindcss/base.css';
@import './../../node_modules/tailwindcss/components.css';
@import './../../node_modules/tailwindcss/utilities.css';

@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: env(safe-area-inset-top);
    color: $text_primary;
    transition: 0.3s;

    &.dark-mode {
        background: $text_primary;
        color: $text_light;
    }
}

.title-center>* {
    text-align: center;
}

.headline {
    font-size: clamp(1.375rem, 6.5vw, 1.75rem);
    line-height: 1.23;
}

.normal-text {
    font-size: 1rem;
    line-height: 1.25;
}

.body-text {
    font-size: clamp(0.8rem, 4.1vw, 0.9375rem);
    line-height: 1.1875;
}

.q-tabs {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .4);

    .q-tab {
        min-height: 36px;

        &--active path {
            fill: url(#gradient_primary);
            stroke: url(#gradient_primary);
        }
    }
}

.q-list {
    .q-item__section--avatar {
        min-width: auto;
    }

    .q-item__section--side>.q-icon-arrow {
        font-size: 1rem;
    }
}

.q-field--standout.q-field--highlighted .q-field__control {
    background: rgba(0, 0, 0, .15);
}

.q-carousel .q-panel {
    height: 100%;
}

[class*="__title"] {
    display: grid;
    align-content: start;
    row-gap: 5px;

    &>* {
        width: 100%;
    }
}

.gradient-primary {
    background: $bg_gradient;
    color: $text_light;
}

.text-gradient-primary {
    background: $bg_gradient;
    background-clip: text !important;
    color: transparent;
}

.text-regular {
    font-size: 1rem;
    line-height: 1.25;
}

.border-custom_color {
    border-color: $border_inactive;

    &:focus,
    &:active {
        border-color: $border_active;
    }
}

.photo__img {
    box-shadow: inset 0 0 7px 1px $primary;
}

.item-shadow {
    box-shadow: inset 0 0 0 2px $text_primary;
}

.q-stepper {
    box-shadow: none;

    .q-stepper__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: none;

        .q-stepper__tab {
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
            min-height: auto;
            padding: 0;

            .q-stepper__dot {
                margin: 0;

                &::before,
                &::after {
                    display: none;
                }
            }

            .q-stepper__label {
                text-align: center;

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    .q-stepper__step-inner {
        padding: 0;
    }

    .q-stepper__nav {
        padding: 0;
    }
}

.profile .q-stepper {

    .q-stepper__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .q-panel {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .q-stepper__step {
                display: grid;

                .q-stepper__step-content {
                    display: grid;

                    .q-stepper__step-inner {
                        display: flex;
                        flex-direction: column;
                        row-gap: 12px;
                    }

                    &.step-gender {
                        .q-stepper__step-inner {
                            grid-template-rows: auto min-content;
                        }
                    }

                    &.step-gender .q-stepper__step-inner {
                        grid-template-rows: auto min-content;
                    }

                    &.step-hobbies .q-stepper__step-inner {
                        grid-template-rows: auto min-content;
                    }
                }
            }
        }
    }
}

.q-date {
    color: $text_light;

    .q-date__main {
        color: $text_primary;
    }
}

.q-page-container:has(.complete-message)+.q-tabs {
    display: none;
}



.dark-mode {
    .flrt-input {
        color: $text_primary;
    }

    .chat__body .restart {
        background: $text_primary;
    }

    .q-stepper {
        background: none;

        .q-stepper__tab--disabled {
            .q-stepper__dot {
                background: rgba(255, 255, 255, .25);
            }

            .q-stepper__label {
                color: rgba(255, 255, 255, .25);
            }
        }

        &.q-stepper--vertical .q-stepper__dot::after {
            background: $text_light;
        }
    }

    .q-icon,
    .gender__item:not(.active) {
        svg {
            fill: $text_light;

            path {
                fill: $text_light;
            }
        }
    }

    .q-field__inner {
        background: $text_light;
    }

    .q-field__bottom {
        color: $text_light;
    }

    .item-shadow {
        box-shadow: inset 0 0 0 2px $text_light;
    }

    .back-btn {
        background: $text_light;
    }

    .step-slider {
        background: $text_primary;
    }

    .details__personal-data>* label {
        color: $text_primary;
    }

    .q-card {
        background: #333;
    }

    .q-date {
        .q-date__main {
            background: #333;
            color: $text_light;
        }
    }
}

.store {
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;

    &.q-stepper--vertical {
        .q-stepper__tab {
            padding: 0.75rem 0;
        }

        .q-stepper__step-content {
            padding-left: 1.5rem;
        }
    }
}