<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Flirteo.app" version="0.9.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flirteo</name>
    <description>A Quasar Project</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-customurlscheme" spec="^5.0.1">
        <variable name="URL_SCHEME" value="flirteo" />
    </plugin>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screens/android/logo.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#fcebf0" />
        <icon density="ldpi" src="res/android/logo-ldpi.png" />
        <icon density="mdpi" src="res/android/logo-mdpi.png" />
        <icon density="hdpi" src="res/android/logo-hdpi.png" />
        <icon density="xhdpi" src="res/android/logo-xhdpi.png" />
        <icon density="xxhdpi" src="res/android/logo-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/logo-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <access origin="*" />
        <allow-intent href="*" />
    </platform>
    <allow-navigation href="about:*" />
</widget>
